# Testing the optimisation routine in directed Igraph

04/09/20

In [11]:
from mtsim import DiMTMig
from mtsim.sample_networks import load_network_2_directed

In [12]:
df_nodes, df_link_types, df_links = load_network_2_directed()

In [13]:
mtm = DiMTMig()
mtm.read_data(df_nodes, df_link_types, df_links)

In [14]:
mtm.generate("first", "pop", "pop", 0.5)
mtm.compute_skims()
mtm.distribute("first", "t0", "exp", 0.02)

In [15]:
Ncount = mtm.df_links["count"].notna().sum()
Ncount

48

In [16]:
mtm.optimise(20)

Optimisation terminated. Success: True
Resulting parameters: [0.07379341 0.00726306]
Time: 8.73 s

In [17]:
mtm.optres

       attr_param  dist_param
first    0.073793    0.007263

In [18]:
mtm.optout

      sum_geh nit nfev success
1  482.302985  20  570    True

In [19]:
mtm.optout["sum_geh"] / Ncount

1    10.047979
Name: sum_geh, dtype: float64

In [9]:
#mtm._obj_function([0.5, 0.02], "t0")

In [30]:
(mtm.dmats["first"].values * mtm.skims["t0"].values).sum() / mtm.dmats["first"].values.sum()

13.29641647035716